// Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables"

// Set your own initial variables

// Set the derived variables

// Import the rest of Bulma
@import "../../node_modules/bulma/bulma"

$grey-color: rgba(245, 245, 245, 1)

.navbar
  display: flex
  position: absolute
  z-index: 1
  width: 100%
  background-color: rgba(255, 255, 255, 0.8)

  .navbar-burger
    background-color: rgba(0, 0, 0, 0.05)

/* Hero customization */
.hero
  background-color: $grey-color
  background-size: cover
  min-height: 80vh

  .hero-map
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 20vh
    left: 0
    // opacity: 0.6

  .hero-body
    display: block
    position: absolute
    width: 100%
    top: 25vh
    text-align: left

    .title
      color: black

    .subtitle
      color: black

    .hero-form
