doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
      
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')  
    
    block scripts
    
  body(class= title)
    //- bloc nav
    block navigation
    
    //- bloc contenu
    block content

    //- footer
    block footer
      
    script
      block script_perso
      //- include bgimage.js
      //- include opensky.js
      //- include mapbox.js
